svg(class="g487"
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   version="1.1"   
   viewBox="0 0 744.09448819 1052.3622047")
             
  g(class="g478-logo"
     transform="translate(1653.7589,-2552.5295)")
     path(style="fill: white;" 
        class="trazo-Logo"
        d="m -1621.8541,3052.9007 308.4546,308.4556 0,-386.4215 -58.8401,58.4241 0,185.9458 -166.402,-166.404 225.2421,-225.7445 -0.2085,-81.5861 z")
     path(style="fill: white;"
        class="trazo-Logo"
        d="m -946.52078,3052.9007 -308.45462,308.4556 1.4606,-85.5376 223.7815,-222.918 -225.2421,-225.7445 0.2085,-81.5861 z")
     rect(style="fill: white;"
        class="trazo-Logo"
        transform="matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)"
        y="2997.156"
        x="1247.3427"
        height="73.750519"
        width="73.750519")
     rect(style="fill: white;"
        class="trazo-Logo"
        width="73.750519"
        height="73.750519"
        x="1321.3065"
        y="2923.1924"
        transform="matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)")     
